* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #87cefa;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section:not(:first-of-type) {
  width: 100vw;
  padding-top: 1.5rem;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 1.25rem;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  padding: 1rem 1rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  background-color: transparent;
  transition: 0.3s ease background-color;
}

#navbar a {
  font-size: 1.6rem;
  color: #ffe969;
  margin: 0.5rem 2rem;
  transition: 0.3s ease;
}

#navbar a:hover,
#navbar a.active {
  color: white;
  cursor: pointer;
}

#hero {
  height: 100vh;
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hero p:not(.star) {
  font-size: 2.2rem;
  color: aliceblue;
  width: 70%;
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
  animation-name: moveInBottom;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

h1 {
  font-size: 5rem;
  color: aliceblue;
  margin: 0;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 span {
  color: #ede18b;
  margin-left: 1.5rem;
}

h2 {
  font-size: 5rem;
  color: aliceblue;
  text-align: center;
  margin: 0;
  animation-name: moveInRight;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.star {
  font-size: 3.8rem;
  position: relative;
  color: #ede18b;
}

.popup {
  background: #fff;
  color: #222;
  width: 15rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0.625rem;
  right: 2.5rem;
  padding: 0.7rem 0.5rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.popup:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.938rem solid transparent;
  border-right: 0.938rem solid transparent;
  border-top: 0.938rem solid #fff;
  position: absolute;
  bottom: -0.125rem;
  left: -0.563rem;
  right: -0.313rem;
  transform: rotate(-191deg);
}

.star:hover {
  cursor: pointer;
}

.star:hover span {
  bottom: 6.25rem;
  visibility: visible;
  opacity: 0.9;
}

#hero .cta {
  display: block;
  padding: 0.8rem 2.5rem;
  margin: 2.5rem auto;
  width: max-content;
  color: #ede18b;
  background-color: transparent;
  border: 4px solid #ede18b;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
  transition-property: background-color;
  animation-name: animateFlip;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
  animation-delay: 1.4s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

#hero .cta:hover {
  background-color: #154294;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    #0c295e,
    #0b3172,
    #0a3a87,
    #0a429d,
    #0c4bb3,
    #0859c3,
    #0468d2,
    #0077e2,
    #1f8eeb,
    #42a4f1,
    #64b9f6,
    #87cefa
  );
}

h3 {
  font-size: 4.3rem;
  text-shadow: 0.125rem 0.125rem 0.125rem rgba(249, 233, 0);
  color: #0d2f6c;
  margin: 4rem 0;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  margin-bottom: 8vh;
}

#about h3 {
  margin-top: 4rem;
  margin-bottom: 10vh;
}

#about div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
}

img.portfolio {
  border-radius: 50%;
  width: 25vmax;
  height: auto;
  object-fit: fill;
  box-shadow: -2.875rem -2.125rem 0px 0.125rem rgba(249, 233, 0),
    2.875rem 2.125rem 0px 0.125rem rgba(21, 66, 148, 0.75);
  -webkit-box-shadow: -2.875rem -2.125rem 0px 0.125rem rgba(249, 233, 0),
    2.875rem 2.125rem 0px 0.125rem rgba(21, 66, 148, 0.75);
  -moz-box-shadow: -2.875rem -2.125rem 0px 0.125rem rgba(249, 233, 0),
    2.875rem 2.125rem 0px 0.125rem rgba(21, 66, 148, 0.75);
}

#about div.about {
  flex: 1 60%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: #154294;
  padding: 2rem 1rem; */
}

#about p {
  font-size: 2rem;
  font-weight: 600;
  color: #0c295e;
  /* width: 50%; */
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

#experience > .container {
  /* height: max-content; */
  /* background-color: #def2ff;
  border-radius: 20px; */
  padding: 3rem 0;
  row-gap: 5rem;
}

article.job-card {
  width: 80%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: stretch;
  position: relative;
  /* border: solid 1px #154294; */
  border-radius: 1.25rem;
  background-color: #ceeafb;
  box-shadow: 5px 5px 1.5rem #154294;
}
/* article.job-card:not(:last-child)::after {
  content: "";
  display: block;
  width: 60%;
  height: 0.063rem;
  position: absolute;
  left: 50%;
  bottom: -2.5rem;
  transform: translateX(-50%);
  background-color: black;
  opacity: 0.5;
} */

div.description {
  flex-basis: 40%;
  flex-grow: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

div.description ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  list-style-type: "â­";
}

div.description li {
  font-size: 1.8rem;
  display: list-item;
  margin-left: 1rem;
  padding-left: 0.4rem;
}

div.description li::marker {
  font-size: 1.6rem;
}

div.description p:first-of-type {
  font-style: italic;
  font-size: 1.3rem;
}

.job a {
  font-size: 2.2rem;
  color: #154294;
}

.job a:hover {
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
}

.links a {
  font-size: 1.8rem;
  font-weight: 800;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.8rem 0.5rem;
  color: #154294;
  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #154294;
  color: #ffe969;
  text-decoration: none;
}

h4 {
  font-size: 2.2rem;
}

div.description p {
  font-size: 1.8rem;
}

.job-card img {
  width: 100%;
  height: auto;
  flex: 1 1 50%;
  object-fit: fill;
  aspect-ratio: 1/1;
  max-width: 400px;
  /* max-width: 100%; */
  /* height: 100%; */
  /* flex: 1 50%; */
}

#instahub-img {
  background-color: #0b3074;
  padding: 0 1rem;
}

.job-card img:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .job-card img:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#projects > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 0;
  row-gap: 3rem;
  column-gap: 2rem;
}

.project {
  width: 100%;
  margin: 0;
  padding: 0 0 2rem 0;
  background-color: #ceeafb;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
  box-shadow: 0 10px 6px -6px #154294;
}

.project img {
  max-width: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: auto;
  /* flex: 1 1 50%; */
  aspect-ratio: 2/1;
  object-fit: fill;
}

.project-text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.project h4 {
  text-align: center;
}

.project p {
  padding: 0 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.project .links {
  justify-content: center;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

#contact {
  /* margin-bottom: 3rem; */
  background-image: url(/images/cat\ on\ the\ moon.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  padding-bottom: 15rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  display: flex;
  padding-left: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 100%;
  background: radial-gradient(
    circle at 20% 50%,
    rgba(17, 44, 95, 1) 0%,
    rgba(17, 44, 95, 0.75) 25%,
    rgba(17, 44, 95, 0.5) 50%,
    rgba(17, 44, 95, 0) 67%,
    rgba(17, 44, 95, 0) 100%
  );
}

#contact h3 {
  text-shadow: 0.125rem 0.125rem 0.125rem rgb(95, 154, 255);
  color: aliceblue;
  margin: 1rem 0;
}

#contact p {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: aliceblue;
}

a {
  font-weight: 800;
}

#contact a {
  font-size: 2rem;
  color: aliceblue;
  margin-top: 0.8rem;
}

#contact a span {
  color: #fce149;
  font-weight: 800;
  transition: 0.3s ease;
  transition-property: color;
}

#contact a:hover {
  color: #ffe969;
}

#contact a:hover span {
  color: aliceblue;
}

/* Project's page style */

#introduction,
#description,
#conclusion {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b9e1ff;
}

#introduction h1 {
  font-size: 3.5rem;
  margin: 2rem 0;
  color: black;
  animation: none;
}

.text-area {
  width: 80%;
  padding: 1.5rem;
  display: flex;
  border-radius: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.8rem;
  margin-bottom: 3rem;
}

#introduction h4 {
  font-size: 1.8rem;
}

.text-area p {
  font-size: 1.5rem;
}

#introduction a {
  color: #356119;
  font-size: 1.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.8rem 0.5rem;
  transition: all 0.3s ease;
}

#introduction a:first-of-type {
  color: #90141e;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#introduction a:hover {
  color: white;
  background-color: #356119;
}

#introduction a:first-of-type:hover {
  color: white;
  background-color: #90141e;
}

.images-area {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
}

.images-area img {
  max-width: 48%;
  min-width: 50rem;
}

.images-area img:first-child {
  margin-bottom: 5rem;
}

.images-area img:last-child {
  margin-top: 5rem;
}

#description {
  height: max-content;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 400px));
  row-gap: 3rem;
}

#description img {
  min-width: 100%;
  align-self: center;
  justify-self: center;
  margin: 0 2rem;
}

#description .text-area {
  justify-self: center;
  align-self: center;
}

#description h4 {
  font-size: 2.3rem;
}

/* ul {
  list-style: none;
} */

ul.dots {
  list-style: disc;
  list-style-position: inside;
}

.text-area li {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.text-area li span {
  font-weight: bold;
}

.project-footer {
  width: 100%;
  background-color: #154294;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.8rem 1rem 0.8rem 0;
}

.project-footer a {
  font-size: 1.3rem;
  color: #ffe969;
  margin: 0.5rem 1rem;
}

.project-footer a:first-of-type::before {
  content: "<";
  margin-right: 0.2rem;
}

.project-footer a:last-of-type::after {
  content: ">";
  margin-left: 0.2rem;
}

.project-footer a:hover {
  color: white;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateFlip {
  0% {
    opacity: 0;
    transform: rotateX(-120deg) scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) scale(1, 1);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}

@media (min-width: 768px) {
  .project {
    width: 48%;
  }
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 80%;
  }

  .images-area {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .images-area img:first-child {
    margin-bottom: 3rem;
  }

  .images-area img:last-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 778px) {
  html {
    font-size: 40%;
  }

  .popup {
    left: -8.375rem;
    right: 0;
  }

  .popup:before {
    bottom: -1rem;
    left: 6.8rem;
    right: -0.313rem;
    transform: none;
  }

  .star:hover {
    cursor: pointer;
  }

  .star:hover span {
    bottom: 7.25rem;
    visibility: visible;
    opacity: 0.9;
  }

  /* article.job-card:nth-child(2) {
    flex-wrap: wrap-reverse;
  } */

  article.job-card img:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 1.25rem;
  }

  .images-area img:first-child {
    margin-bottom: 3rem;
  }

  .images-area img:last-child {
    margin-top: 0;
  }

  #description img:last-of-type {
    grid-row: 4/5;
  }
}
